/* App container styles */
.App {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.btn {
  background: #FFF;
  color: #FF5240;
  border: 2px solid #FF5240;
  padding: 10px 45px;
  min-width: 200px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.3em;
  outline: none;
  cursor: pointer;
}

.btn.inactive {
  border-color:#738998;
  color:#738998;
}

