.widget {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
	width: 25%;
	height: 50%;
	color: #FFF;
	position: relative;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.widget--size-lg {
	width: 50%;
}


@media screen and (orientation:landscape) {
	.dashboard > .widget:nth-child(2),
	.dashboard > .widget:nth-child(4),
	.dashboard > .widget:nth-child(5),
	.dashboard > .widget:nth-child(7) {
		background: rgba(0,0,0,.04);
	}
}

@media screen and (orientation:portrait) { 
 	.widget { width: 50%; height: 33.33%; }

	.dashboard > .widget:nth-child(2),
	.dashboard > .widget:nth-child(3),
	.dashboard > .widget:nth-child(6),
	.dashboard > .widget:nth-child(7) {
		background: rgba(0,0,0,.04);
	}

}